<h2 class="text-center">Registration </h2>
<form (submit)="onRegisterSubmit()" >
  <div class="mb-3">
    <label for="name"  class="form-label">Name</label>
    <input type="text" name="user.name" [(ngModel)]="user.name"  class="form-control" id="name" >
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">UserName</label>
    <input type="text" name="user.username" [(ngModel)]="user.username" class="form-control" id="username" >
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="user.email" [(ngModel)]="user.email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="user.password" [(ngModel)]="user.password" class="form-control" id="password">
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
